<html>
<head>
<title>Ruby onrails|<%=@title%></title>
</head>
<body>
<h1>About Us</h1>
<p>
<a href="https://railsrutorial.org/">Ruby on Rails Tutorial</a>
is a project to make a book and screencasts to teach web development
with <a href="https://rubyonrails.org/">Ruby on Rails</a>.This is rhe sample application for.....
</p>
</body>
</html>

